:root {
    --preto: #202020;
    --preto-transparente: #2020203D;
    --verde: #00675B;
    --verde-claro: #009080;
    --verde-escuro: #005B4F;
    --amarelo: #F0B239;
    --amarelo-claro: #FFEDAF;
    --branco: #FFFFFF;
    --cinza: #C4C4C4;

    --familia-corpo: 'Open Sans', sans-serif;

    --peso-corpo: 400;
    --peso-titulo: 700;
    --peso-preco: 700;
    --peso-link: 600;
    --peso-botao-modal: 600;
}