.cabecalho {
    background-color: var(--verde);
    
    max-height: 50px;
    
    padding: 5px 0;

    z-index: 2;
}

.cabecalho__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 940px;

    margin: 0 auto;
}

.cabecalho__menu {
    display: inline-block;
    
    width: 36px;

    cursor: pointer;
}

.cabecalho__logo {
    display: inline-block;

    height: 40px;
}

.cabecalho__carrinho {
    display: inline-block;
    
    width: 36px;

    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .cabecalho {
        max-height: 90px;
    }

    .cabecalho__container {
        width: 100%;

        padding: 10px;

        box-sizing: border-box;
    }

    .cabecalho__logo {
        height: 30px;
    }
}
