.carrinho {
    position: absolute;
    right: 0;
    top: -200%;

    width: 350px;
    height: 100vh;

    padding: 2rem;

    box-sizing: border-box;
    box-shadow: -10px 0px 10px var(--preto-transparente);

    z-index: 3;

    overflow: auto;

    background-color: var(--branco);

    transition: .5s;
}

.carrinho--ativo {
    position: fixed;
    top: 0;

    transition: .5s;
}

.carrinho__cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 3rem;
    
    border-bottom: 1px solid var(--cinza);
    
    margin-bottom: 1.5rem;
}

.carrinho__titulo {
    font-size: 2rem;
    font-weight: var(--peso-titulo);
}

.carrinho__fechar {
    width: 1.5rem;

    cursor: pointer;
}

.carrinho__produto {
    padding: 1.5rem 0;

    margin-bottom: 1.5rem;

    border-bottom: 1px solid var(--cinza);

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
}

.carrinho__produto__imagem {
    width: 25%;
    
    margin-right: 5%;
}

.carrinho__produto__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.carrinho__produto__valores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.carrinho__produto__quantidade {
    width: 50px;

    background-color: var(--cinza);

    border: none;
    border-radius: 10px;

    padding: .5rem;

    text-align: center;
}

.carrinho__produto__preco {
    font-size: 1.2rem;
    font-weight: var(--peso-preco);

    color: var(--verde);
}

.carrinho__produto__excluir {
    width: 24px;

    cursor: pointer;
}

.carrinho__informacoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 1.2rem;
    line-height: 2rem;

    padding-top: 1.5rem;
}

.carrinho__valores {
    text-align: right;
}

.carrinho__textos__total, .carrinho__valores__total {
    font-weight: var(--peso-preco);
}

.carrinho__botao {
    width: 100%;

    margin-top: 3rem;

    padding: 1rem 0;

    background-color: var(--amarelo);

    color: var(--preto);
    font-size: 1.075rem;

    border: none;
    border-radius: 10px;

    cursor: pointer;

    transition: .5s;
}

.carrinho__botao:hover {
    background-color: var(--verde);

    color: var(--branco);

    transition: .5s;
}
