.menu-lateral {
    display: flex;
    flex-direction: column;

    width: 320px;
    height: 100vh;

    position: absolute;
    bottom: 0;
    left: -200%;

    background-color: var(--verde);

    padding-top: 2rem;
    padding-bottom: 2rem;

    z-index: 10;

    transition: .5s;
}

.menu-lateral__fechar {
    position: relative;
    left: 16.5rem;

    width: 36px;

    cursor: pointer;
}

.menu-lateral--ativo {
    position: fixed;
    left: 0;
    top: 0;

    transition: .5s;
}

.menu-lateral__logo {
    display: block;

    width: 150px;

    margin: 0 auto;

    padding-bottom: 2rem;
}

.menu-lateral__navegacao {
    width: 100%;
}

.menu-lateral__navegacao--ativo {
    border-left: 10px solid var(--branco);
    
    background-color: var(--verde-escuro);
}

.menu-lateral__link {
    font-size: 24px;
    color: var(--cinza);
    line-height: 85px;
    
    padding-left: 3rem;

    box-sizing: border-box;
}

.menu-lateral__link::before {
    width: 24px;
    height: 24px;

    margin-right: .5rem;
}
