.menu {
    background-color: var(--verde-claro);

    width: 100%;

    position: absolute;
    top: -100%;

    box-shadow: 0 10px 10px var(--preto-transparente);

    transition: 1s;

    z-index: 1;
}

.menu--ativo {
    top: 52.4px;

    transition: .5s;
}

.menu__container {
    width: 940px;

    margin: 0 auto;

    padding: 1rem 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu__logo {
    width: 100px;

    cursor: pointer;
}

.menu__link {
    color: var(--cinza);

    line-height: 1.2rem;

    padding: 1rem 1.2rem;

    display: flex;
    align-items: center;

    border-radius: 5px;
}

.menu__link:hover {
    background-color: var(--verde-escuro);

    transition: .25s;
}

.menu__link::before {
    content: "";

    width: 24px;
    height: 24px;

    margin-right: .5rem;
}

.menu__link--ativo {
    color: var(--branco);
    font-weight: var(--peso-link);

    border-bottom: 5px solid var(--branco);
    border-radius: 5px 5px 0 0;
}

.menu__link--inicio::before {
    content: url('../../assets/img/icones/casa.svg')
}

.menu__link--conta::before {
    content: url('../../assets/img/icones/engrenagem.svg')
}

.menu__link--carrinho::before {
    content: url('../../assets/img/icones/carrinho-cinza.svg')
}

.menu__link--ajuda::before {
    content: url('../../assets/img/icones/pergunta.svg')
}

.menu__link--pedidos::before {
    content: url('../../assets/img/icones/nota.svg')
}
