.produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 940px;

    margin: 0 auto;

    padding-top: 5rem;
    padding-bottom: 5rem;
}

.produtos__produto {
    width: 220px;

    margin-bottom: 2rem;
}

.produto__figura {
    min-height: 410px;
}

.produto__imagem {
    width: 100%;

    box-shadow: 10px 10px 10px var(--preto-transparente);
}

.produto__titulo {
    text-align: center;

    padding: 1rem 0;
}

.produto__preco {
    text-align: center;

    font-size: 1.5rem;
    font-weight: var(--peso-preco);
    color: var(--verde);

    padding-bottom: 1rem;
}

.produto__botao {
    width: 100%;

    padding: 1rem 0;

    background-color: var(--amarelo);

    font-size: 1.075rem;
    color: var(--preto);

    border: none;
    border-radius: 10px;

    transition: .25s;
}

.produto__botao:hover {
    cursor: pointer;

    background-color: var(--verde);
    color: var(--branco);

    transition: .25s;
}

@media screen and (max-width: 1024px) {
    .produtos {
        width: 100%;

        padding: 2rem;

        box-sizing: border-box;

        justify-content: space-around;
    }

    .produtos__produto {
        width: 190px;
    }

    .produto__figura {
        min-height: 300px;
    }
}
